<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DashBoard</title>
</head>
<body>
<h3>
</h3>
<div class="dash">
<p class="p">
  {{firstname}} Welcome To Admin dashboard............
</p>
<div>
<button type="button" class="btn btn-primary btn1" (click)="getAllStudents()">Stduents Enrolled for Test</button>&nbsp;&nbsp;
<button type="button" class="btn btn-info btn2" (click)="getAllTests()">Tests Available</button>&nbsp;&nbsp;
</div>
</div>
</body>
</html>