<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test instructions</title>
</head>
<body>
    <div class="header">
        <p><u>Instruction for the test</u></p>
    </div>
    
    <div class="container">
  
    <div class="child2">
                <ul>
<li>quiz consists of 10 multiple-choice questions. To be successful with the weekly quizzes. </li> 
<li>It will also be extremely useful to study the key terms at the end of the chapter and review the Test Your Knowledge activity at the end of the chapter.</li>
<li>Keep the following in mind:</li>
<ol>
<li>Multiple Attempts - You will have three attempts for this quiz with your highest score being recorded in the grade book.</li>
<li>Timing - You will need to complete each of your attempts in one sitting, as you are allotted 30 minutes to complete each attempt.</li>
<li>Answers - You may review your answer-choices and compare them to the correct answers after your final attempt.</li>
<li>To start, click the "Take the Quiz" button. When finished, click the "Submit Quiz" button.</li>
</ol>
</ul>       
</div>
</div>
<div class="footer">
<button type="button" class="btn btn-success" (click)="startTest()">Begin Test</button>
</div>
</body>
</html>