<!DOCTYPE html>
<html lang="en">
<head>
  <title>DashBoard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Tests Available</h2>
  <p>You can modify tests available as well as you can add new tests according to number of questions</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Test Id</th>
        <th>Test Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of tests">
        <td>{{test.testId}}</td>
        <td>{{test.testName}}</td>
        <td>{{test.testDate}}</td>
        <td>{{test.testDuration}}</td>
        <!---  <div *ngIf="flag">
            <app-edit-test-component (myevent)="flag=$event" [testqs]="testquestion" [testtemp]="test"></app-edit-test-component> 
          </div>-->
          <td>
            <button type="button" class="btn btn-primary" (click)="editTest(test.testId)">Edit</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-info" (click)="viewTest(test.testId)">View</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteTest(test.testId)">Delete</button>
        </td>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="addTest()">Add New Test</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="backTo()">Back</button>
</div>

</body>
</html>
