@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

   
.test{
    margin: 0;
    padding: 0;
    background-image: url(Home2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position:center;
    height: 100vh;
    font-family: Poppins;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%,-50%);
    color:white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border: 2px solid #247026;
    margin-bottom: 50px;
    padding: 13px ;

}
a:hover{
    background-color:blue;
}
.btn:hover{
    background-color:blue;
}
.btn2{
    text-decoration:none;
    width: 100px;
    height:70px;
    background: none;
    border: 2px solid #247026;
    border-radius:4px;
    color:white;
    padding: 15px;
    padding-top:6px;
    padding-bottom:11px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 12px;
    margin-top:16px;
}
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #247026;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float:inline-start;
    margin: 0 10px;

}
.btn
{
    width: 100px;
    background: none;
    border: 2px solid #247026;
    color:white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.er{
    color: red;
    float: left;
    margin-top: 80px;
    margin-right: 10px;
}