
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark cl no-top-radius">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item hm">
            <a class="nav-link active text" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item hm">
            <a class="nav-link active text" href="aboutus">AboutUs</a>
          </li>
          <li class="nav-item hm">
            <a class="nav-link active text" href="contactus">ContactUs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Authenticate
            </a>
            <ul class="dropdown-menu dd" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text" href="login">Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text" href="register">Register</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text" href="admin">Admin</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text" href="student">Student</a></li>
            </ul>
        </ul>
        <form class="d-flex">
          <a class="nav-link active text logout"  href="logout">Logout</a>
        </form>
      </div>
    </div>
  </nav>
  <!--<h2>QuizzMaster</h2>
<ul>
    <li><a routerLink="home">Home</a> </li>
    <li><a routerLink="aboutus">About us</a></li>
    <li><a routerLink="contactus">Contact us</a></li>
    <li><a routerLink="login">Login</a></li> 
    <li><a routerLink="register">Register</a></li> 
    <li><a routerLink="test">Tests</a></li>
</ul> -->
<!--<marquee>Welcome to QuizzMaster!!! </marquee>-->


</body>

</html>
<router-outlet></router-outlet>    
    