@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
p{
    color:black;
}
h3{
    color:purple;
    text-align:center;
}
.as{
    background-image: url(about.jpg);
    background-size: cover;
    background-position: center;
    height:100%;
    width:100%;
    font-family: sans-serif;
    margin-top: 0px;
    margin-left: 0px;
}
h2{
    color: rgb(53, 45, 30);
}
.ps{
   
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
