<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    
  </head>
  <body class="qc">
    <section id="contact">
       <div class="container">
           <h1 class="text-center text-uppercase"><u>Contact Us</u></h1>
          <div class="para"><p align="Center" id="para" class="text-center w-75 m-auto">
               <b>Our mission:
                  Online Quiz portal for C-CAT student,who are appearing for PRE-DAC exams.students can practice each subject questions .
                  they have provision for to give demo test .check their subject knowledge by seeing results of each test.   
            </b>
           </p>
           <p align="center"><b>What we believe about living happier:
            We believe that happiness is not a feeling, but a skill we can all learn and improve through practice.
            We believe that it's not a frivolous extra but a critical, non-negotiable ingredient in living a fulfilling, meaningful, healthy life.
            We believe that our greatest wellbeing is realized when we stop trying to turn the negative into the positive and 
            embrace the full range of human emotions with compassion and strength.</b></p>
          </div>
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Call Us</h4>
                    <h3><b>+919881301458,+917066086845,+919309852213</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Main Center location</h4>
                   <h3><b>F1,Sadguru Apartment,near Vaishnodevi mata mandir,D Y Patil college road,Akurdi Pune 411044</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5"> Center location</h4>
                    <h3><b>F12,Vithhal Rukhmini Apartment,Gurudwara chowk,Walhekarwadi road,Chinchwad Pune 411033</b></h3>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Email</h4>
                    <h3><b>http://quizzmaster@gmail.com</b></h3>
                  </div>
                </div>
             </div>
           </div>
       </div>
    </section>
     </body>
</html>
